{{ define "home"}}

{{ template "head"}}

<a name="" id="" class="btn btn-primary" href="/create" role="button">Add Employeer</a>

  <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>

        {{range.}}
            <td>{{.Id}}</td>
            <td>{{.Name}}</td>
            <th>{{.Email}}</th>
            <a name="" id="" class="btn btn-warning" href="/edit?id={{.Id}}" role="button">Edit</a>
         |
            <a name="" id="" class="btn btn-danger" href="/delete?id={{.Id}}" role="button">Delete</a>

           </th>
        </tr>
        <tr>

        {{end}}

           
        </tr>
    </tbody>
</table>

{{ template "foot" }}
    

{{end}}